.list{
  background:#fff;
}
.header{
  height: 60px;
}
.table{
  margin-top: 50px;
  width: 100%;
  background: #fff;
}
.table th{
  height: 50px;
}
.thName{
  text-align: left;
  padding-left: 30px;
}
.thHandle{
  text-align: right;
  padding-right: 30px;
}