.author{
  text-align: center;
  padding:1rem 1rem 0;

}
.author div{
  margin-bottom: 1rem;

}
.introduction{
  font-size:.8rem;
  color: #999;
}
.account{
  background-color: #999;
  margin-left: .5rem;
  margin-right: .5rem;
}
.iconbox{
  display: flex;
  justify-content: space-around;
}