.header{
  background-color: #fff;
  padding: .4rem;
  overflow: hidden;
  height: 3.5rem;
  border-bottom:1px solid #eee;
}
.headerLogo{
  color:#1e90ff;
  font-size: 1.5rem;
  text-align: left;
}
.headerTxt{
  font-size: 0.8rem;
  color: #999;
  display: inline-block;
  padding-left: 0.3rem;
}
